* {
  color: #e6e8e9;

}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 20px;
}

body {
  background-color: #11181d;
}